
*, 
*:before,
*:after {
    box-sizing: border-box;
}

* {
    font-family: monospace;
    font-size: 1.1rem;
}
.headline {
  border-top: solid rgb(11, 12, 19);
  border-bottom-style: unset;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman';
}
h1 {
    font-family: cursive;
    font-size: 3rem;
  }

h1::after {
  content: '💻' ;
}


.badge {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  padding: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 0.7rem;
  border-top: solid;
  border-radius: 0.5rem;
  border-style: double;
}
@media screen and (min-width: 992px) {
  .badge {
    position: fixed;
  }
}

@media print {
  .badge {
    display: none;
  }
}



h2,
h3 {
    font-family: cursive;
    font-size: 2rem;
    color: #07070ddc;
}

h4 {
    font-family: cursive;
    font-size: 3rem;
    color: #b7b7c93e;
}

body {
    background: rgb(238,197,174);
    background: rgb(34,193,195);
    background: rgb(125,138,144);
    background: radial-gradient(circle,
                rgba(125,138,144,1) 0%,
                rgba(164,159,153,0.5977337110481586) 100%);
}

.header {
    padding: 2.5rem 1rem;
    text-align: center;
    font-size: 2.5rem;
    border-top: solid rgb(8, 8, 16);
    }

.main {
    max-width: 60ch;
    margin: 0 auto;
}
main > * {
  border-top: 2px dotted rgba(16, 16, 23, 0.729);
}
.main > * + * {
  margin-top: 2.5rem;
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: rgb(158, 18, 18);
}
.nav-link:active {
  color: rgb(247, 247, 247);
  background-color: rgba(188, 179, 179, 0.609);
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

p::first-letter {
  font-size: 150%;
}

li::first-letter {
  font-size: 130%;
}

::selection {
  background-color: rgba(175, 134, 134, 0);
  color: rgba(198, 6, 6, 0.637);
}

