* {
    box-sizing: border-box;
  }
  html {
    font-family: 'Courier New', Courier, monospace;
  }
  header {
    background-color: antiquewhite;
    
  }
  header  main{
    padding: 20px;
    
    
  }
  body {
    box-sizing:0px;
  }
  header  {
    text-align: center;
  }
  

. header {
  box-sizing: border-box;  
  padding: 48px 16px;
  border: 15px solid goldenrod

}
. main {
    max-width: 800px;
    margin: 0 auto;
}

.Badge {
  color: rgb(255, 236, 235);
}

article + article + section {
  margin-top: 40px;
}
.li,li{
margin: 10px;
padding: 10px;
}


p,p,p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-family: cursive;
}
h2,h3, {
  font-family: monospace;
  font-size: larger;
}
.header {
  padding: 4rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
  rgb(204, 164, 164)
  rgb(134, 126, 126)
  );
}
.headline {
  font-family: sans-serif;
}
.p,{
  font-family::content 
}
li:first-child,:last-child,:only-child {
  background-color: antiquewhite;
  background-image: linear-gradient(
  rgb(229, 146, 146)(255, 200, 160, 0.690),
  )
}
.Badge {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: black;
  background-color: rgb(213, 197, 185);
}
.main > * + * {
  margin-top: 48px;
}
main > * {
  border-top: 2px solid gray;
}
.main > *:first-child {
  border-top: none;
}
::selection {
  background-color: black;
  color: white;
}
p::first-letter {
  font-size: 150%;
}
li::first-letter {
  font-size: 130%;
}
h1::after {
  content: '🤓' ;
}
