
*, 
*:before,
*:after {
    box-sizing: border-box;
}

* {
    font-family: monospace;
    font-size: 20px;
}
.headline {
  border-top: solid rgb(58, 64, 187);
  font-size: larger;
  border-inline: groove;
}
h1 {
    font-family: cursive;
    font-size: 40px;
  }
h1::after {
  content: '💻' ;
}


.badge {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border-top: solid rgb(58, 64, 187);
  color: black;
  background-color: rgba(121, 122, 122, 0);
}

h2,
h3 {
    font-family: cursive;
    font-size: 25px;
    color: #050542dc;
}

h4 {
    font-family: cursive;
    font-size: 20px;
    color: #00008B;
}

body {
    margin: 0px;
    background: rgb(238,197,174);
    background: rgb(34,193,195);
    background: rgb(125,138,144);
    background: radial-gradient(circle,
                rgba(125,138,144,1) 0%,
                rgba(164,159,153,0.5977337110481586) 100%);
}

.header {
    padding: 50px 20px;
    text-align: center;
    font-size: 20px;
    border-top: solid rgb(58, 64, 187);
    }
 
 
  

.junior {
    margin-bottom: 50px;
    font-weight: bolder;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
main > * {
  border-top: 2px dotted rgb(58, 64, 187);
}
.main > * + * {
  margin-top: 10px;
}


.time {
    color: #0000CD;
}

.nav-link {
    color: inherit;
}

.nav-link:hover {
    color: rgb(5, 216, 239);
}
.nav-link:active {
  color: rgb(21, 34, 218);
  background-color: black;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

p::first-letter {
  font-size: 150%;
}

li::first-letter {
  font-size: 130%;
}

::selection {
  background-color: rgba(175, 134, 134, 0);
  color: rgb(82, 90, 209);
}

